.App {
  text-align: center;
  }
  a{
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    margin: 1%;
    padding: 1%;
    overflow: hidden;
    background-color: lightcoral;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
    border-radius: 4px;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: yellow;
  }
  
  .active {
    background-color:black;
    color: white;
    font-size: 16px;
  }
  .headerImg{
    width: 100%;
    height: 178px;

  }